.card-media-header {
  background: rgba(0, 0, 0, .25) no-repeat center center;
  background-size: cover;
  height: 250px;
  position: relative;

  &:first-child {
    margin-top: -24px;
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h1 {
    color: #fff;
    margin: 16px 24px;
    position: absolute;
    bottom: 0;
  }
}

md-card-title,
md-card-subtitle {
  margin-bottom: 8px;
}

/deep/ pre.hljs {
  padding: 16px 24px;

  .language {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.card-media-header,
/deep/ pre.hljs {
  margin: 16px -24px;

  @media (max-width: 600px) {
    margin-left: -16px;
    margin-right: -16px;
  }
}
