@import 'variables';
@import 'theme';
@import '~highlight.js/styles/darcula';
@import url('https://fonts.googleapis.com/css?family=#{$fonts}');

body {
  background-color: #fafafa;
  font-family: $mat-font-family;
  margin: 0;
}
